<div class="row footer">
    <img class="tree-sep" src="/images/treesep4.gif" />
</div>

<div class="row footer">
    <div>~</div>
    <div><a href="/">home</a></div>
    <div>-</div>
    <div><a href="/rsvp">rsvp</a></div>
    <div>-</div>
    <div><a href="/logistics">logistics</a></div>
    <div>~</div>
</div>