<head>
    <title>Burger &amp; King</title>
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">

    <!-- sparkle_cursor.js -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/sparkle_cursor.js"></script>

    <!-- glitter scrollbar -->
    <link rel="stylesheet" href="/css/glitterbar.css">

    <!-- confetti -->
    <link rel="stylesheet" href="/css/confetti.css">
    <script type="text/javascript" src="/js/confetti.js"></script>
</head>
