<img class="top-img" src="/images/lignelongue_rosesrose_anim.gif" />

<div class="row">
    <div class="left">
        <img class="banner-img" src="/images/flycupid.gif"/>
    </div>
    <div class="middle title">~ B & K ~</div>
    <div class="right">
        <img class="banner-img" src="/images/butterflyrockplant.gif" />
    </div>
</div>
