<!DOCTYPE html>

<html>
<head>
    <title>Burger &amp; King</title>
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">

    <!-- sparkle_cursor.js -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/sparkle_cursor.js"></script>

    <!-- glitter scrollbar -->
    <link rel="stylesheet" href="/css/glitterbar.css">

</head>

<body>
    <img class="top-img" src="/images/lignelongue_rosesrose_anim.gif" />

    <div class="row">
        <div class="left">
            <img class="banner-img" src="/images/flycupid.gif"/>
        </div>
        <div class="middle title">.:* attending *:.</div>
        <div class="right">
            <img class="banner-img" src="/images/butterflyrockplant.gif" />
        </div>
    </div>

    <div class="row">
        <div class="left"><p></p></div>
        <div class="middle">
            <form action="/_attending" method="post">
                <input type="text" name="code" />
                <button type="submit" class="submit">Submit</button>
            </form>
        </div>
        <div class="right"><p></p></div>
    </div>

    <div class="row">
        <div class="left"><p></p></div>
        <div class="middle attending">
        <!-- <div class="attending"> -->
            <br>
            <br>
            <hr>
            <% for (var i = 0; i < friends.length; i++) { %>
                <div><%= friends[i].fullname %></div>
                <div><%= friends[i].phone %></div>
                <div><%= friends[i].email %></div>
                <div><%= friends[i].attending ? 'will be in Moab yayayay' : 'is dead to us' %></div>
                <hr>
            <% } %>
        </div>
        <div class="right"><p></p></div>
    </div>

    <div class="row footer">
        <img class="tree-sep" src="/images/treesep4.gif" />
    </div>

    <div class="row footer">
        <div>~</div>
        <div><a href="/">home</a></div>
        <div>-</div>
        <div><a href="/rsvp">rsvp</a></div>
        <div>-</div>
        <div><a href="/logistics">logistics</a></div>
        <div>~</div>
    </div>
</body>

</html>