<!DOCTYPE html>

<html>
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>

    <div class="row">
        <div class="box" style="background-color: #ebe9a2;">
            <h3 id="schedule">~schedule~</h3>

            <p style="text-align: center"><b>November 6-9, 2020</b></p>

            <p><b>Friday:</b> Arrive at your leisure! We’ll stock the place with some basic groceries. Come in, get settled, no rush.</p>

            <p><b>Saturday:</b> Family breakfast. Some time in the early afternoon, we’ll get ready and head to Hidden Valley trailhead for the big moment. That night, we party! Campfire, stick n pokes, drinks, crying.</p>

            <p><b>Sunday:</b> Bask in the afterglow. Head into town and do some exploring there, find another trail, go to Arches or Canyonlands, chill at the house, ride bikes, whatever you want. We’ll map out a bunch of nearby options. Don’t feel obligated to spend the whole time with us. Have some fun in one of our favorite places.</p>

            <p><b>Monday:</b> Bye for now! Time to head in whatever direction.</p>
        </div>
    </div>

    <div class="row">
        <div class="box" style="background-color: #eba2a2;">
            <h3 id="lodging">~lodging~</h3>

            <!-- <p><b>Address:</b> 263 S 100 E, Moab, Utah 84532</p> -->

            <p>We booked a lovely home for everyone. It’s close to town, is very pretty, and we’re so excited to share it with you.</p>

            <p>If you are comfy to contribute, that’s so nice! You can paypal/venmo/whatever on a sliding scale of $0.69-$150 per person.</p>

            <p>If doing so makes the trip harder on you, don’t feel pressured! We’re so stoked to spend a weekend in the desert with you and really do not mind. There’s still a bed and a hot tub with your sweet, sweet name on it.</p>

            <p>Alternatively, if you would rather stay solo, there are a zillion places to stay at in and around Moab. Just let us know!</p>
        </div>
    </div>

    <div class="row">
        <div class="box" style="background-color: #aca2eb;">
            <h3 id="travel">~travel~</h3>

            <p>For those of you who are flying, you have options!</p>

            <p>Moab is about a four hour drive from Salt Lake City. Rental cars are pretty cheap and we can help share itineraries if anyone wants to try to carpool to save costs. There are some small airports dotted around the state that you can totally check out too.</p>

            <p>Canyonlands Field Airport is a short drive from Moab and requires a layover in Denver with United Airlines, usually not any more expensive or time consuming. That airport has car rentals, shuttles to Moab, or someone can just come pick you up. Let us know if we can help!</p>
        </div>
    </div>

    <div class="row">
        <div class="box" style="background-color: #ebc3a2;">
            <h3 id="hike">~hike info~</h3>

            <p>For the ceremony, we’re going to hike all or most of a 6 mile trail that has an elevation gain of ~1,200 feet. Katie will be doing this in a wedding dress and hiking boots, but you should feel free to wear whatever you want.</p>

            <p>Make sure to bring whatever gear you might need out in the desert for 6 miles and maybe a blanket to sit on.</p>

            <p>Rain or shine, we’re doing it! We’ll bring the snacks and champagne (one of you has to carry them though - sorry bout it).</p>
        </div>
    </div>

    <%- include('../partials/footer') %>
</body>

</html>