<!DOCTYPE html>

<html>
<head>
    <title>Burger &amp; King</title>

    <link rel="stylesheet" href="/css/style.css">

    <!-- sparkle_cursor.js -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/sparkle_cursor.js"></script>

    <!-- glitter scrollbar -->
    <link rel="stylesheet" href="/css/glitterbar.css">

</head>

<body>

    <img src="/images/lignelongue_rosesrose_anim.gif" />

    <div class="row">
        <div class="left">
            <img class="banner-img" src="/images/flycupid.gif"/>
        </div>
        <div class="middle title">.:* logistics *:.</div>
        <div class="right">
            <img class="banner-img" src="/images/butterflyrockplant.gif" />
        </div>
    </div>

    <div class="row">
        <div class="left"><p></p></div>
        <div class="middle">
	    	<div class="box" style="background-color: yellow;">
	    		<p>~schedule~</p>
	    	</div>
	    	<div class="box" style="background-color: pink;">
	    		<p>~lodging~</p>
	    	</div>
	    </div>
        <div class="right"><p></p></div>
    </div>

    <div class="row">
        <div class="left"><p></p></div>
        <div class="middle">
	    	<div class="box" style="background-color: purple;">
	    		<p>~travel~</p>
	    	</div>
	    	<div class="box" style="background-color: orange;">
	    		<p>~hike info~</p>
	    	</div>
	    </div>
        <div class="right"><p></p></div>
    </div>

    <div class="row footer">
        <img class="tree-sep" src="/images/treesep4.gif" />
    </div>

    <div class="row footer">
        <div>~</div>
        <div><a href="/">home</a></div>
        <div>-</div>
        <div><a href="/rsvp">rsvp</a></div>
        <div>-</div>
        <div><a href="/logistics">logistics</a></div>
        <div>~</div>
    </div>

</body>

</html>