<!DOCTYPE html>

<html>
<head>
    <title>Burger &amp; King</title>

    <link rel="stylesheet" href="/css/style.css">

    <!-- sparkle_cursor.js -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/sparkle_cursor.js"></script>

    <!-- glitter scrollbar -->
    <link rel="stylesheet" href="/css/glitterbar.css">

</head>

<body>

    <img class="top-img" src="/images/lignelongue_rosesrose_anim.gif" />

    <div class="row">
        <div class="left">
            <img class="banner-img" src="/images/flycupid.gif"/>
        </div>
        <div class="middle title">.:* logistics *:.</div>
        <div class="right">
            <img class="banner-img" src="/images/butterflyrockplant.gif" />
        </div>
    </div>

    <div class="row">
        <div class="left"><p></p></div>
        <div class="middle">
            <div class="box" style="background-color: #ebe9a2;">
                <!-- <p>~schedule~</p> -->
                <h3>~schedule~</h3>
                <p>May 1-3, 2020</p>
            </div>
        </div>
        <div class="right"><p></p></div>
    </div>

    <div class="row">
        <div class="left"><p></p></div>
        <div class="middle">
            <div class="box" style="background-color: #eba2a2;">
                <h3>~lodging~</h3>
                <p>ur mom's house</p>
            </div>
        </div>
        <div class="right"><p></p></div>
    </div>

    <div class="row">
        <div class="left"><p></p></div>
        <div class="middle">
            <div class="box" style="background-color: #aca2eb;">
                <h3>~travel~</h3>
                <p>camel</p>
            </div>
        </div>
        <div class="right"><p></p></div>
    </div>

    <div class="row">
        <div class="left"><p></p></div>
        <div class="middle">
            <div class="box" style="background-color: #ebc3a2;">
                <h3>~hike info~</h3>
                <p>big rock</p>
            </div>
        </div>
        <div class="right"><p></p></div>
    </div>

    <div class="row footer">
        <img class="tree-sep" src="/images/treesep4.gif" />
    </div>

    <div class="row footer">
        <div>~</div>
        <div><a href="/">home</a></div>
        <div>-</div>
        <div><a href="/rsvp">rsvp</a></div>
        <div>-</div>
        <div><a href="/logistics">logistics</a></div>
        <div>~</div>
    </div>

</body>

</html>